body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2 {
    color: #3498db;
}

p {
    margin-bottom: 10px;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f8f8f8;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.toggle-icon {
    font-size: 24px;
    margin-right: 8px;
}

.toggle-text {
    font-size: 16px;
}

/* Dark mode styles */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme h1, .dark-theme h2 {
    color: #fff;
}

.dark-theme p, .dark-theme li {
    color: #fff;
    background-color: #444;
    border: 1px solid #666;
}

.dark-theme li:hover {
    background-color: #333;
}

/* Update the inline style for the result container */
.result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

/* Additional styles for better contrast in dark mode */
.dark-theme .result-container {
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
